body{
    background-color: black;
    padding: 0px;
    margin: 0px;
    color: white;
    border: 3px solid white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(-45deg, rgb(99, 211, 255), rgb(97, 99, 243), rgb(154, 88, 240), rgb(111, 0, 255));
    background-size: 400% 400%;
    animation: move 5s infinite;
}

@keyframes move {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

#mainContainer{
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    padding: 20px;
}


#bwjIcon{
    width: 30vh;
    height: auto;
    display: inline;
}

#botName{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    font-size: 5vh;
    display: inline;
}


.buttons{
    background-color: transparent;
    color: white;
    outline: none;
    transition: all 0.3s;
    padding: 0px;
    border-style: none;
}
.buttons:hover{
    cursor: pointer;
}

.buttonContainer{
    transition: all 0.3s;
}

.buttonContainer:hover i{
    color: rgb(145, 165, 255);
    border-left: 5px solid white;
    
}


i{
    color: white;
    padding-left: 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.buttonText{
    font-size: 4vh;
}
#buttonsDivContainer{
    margin: 4vw 4vw;
    text-align: center;
    border-radius: 20px;
}

#credits{
    display: inline-block;
}

.credith2{
    display: inline-block;
    border-bottom: 2px solid rgb(230, 230, 230);
}